@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg: #F2F2F2;
  --primary: #000000;
}

.dark{
  --bg: #131313;
  --primary: #ffffff;
}

body{
  background-color: var(--bg);
  color: var(--primary);
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

.container{ max-width: 1100px }
